<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenue <%= user.name %> !</h1>
    <a href="/users">Gérer les utilisateurs</a> |
    <a href="/catways">Gérer les catways</a> |
    <a href="/reservations">Gérer les réservations</a> |
    <a href="/logout">Déconnexion</a>

</body>
</html>