<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord - Capitainerie de Russel</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Bienvenue <%= user.name %> !</h1>
        <hr>
    </header>
    <main>
        <h2>Tableau de bord</h2>
        <div class="container-center">
            <a class="button" href="/users">Gérer les utilisateurs</a>
            <a class="button" href="/catways">Gérer les catways</a>
            <a class="button" href="/reservations">Gérer les réservations</a>
            <a class="button" href="/logout">Déconnexion</a>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>